@font-face {
    font-family: "sans";
    src: url("./Sans.ttf") format("truetype");
}
body{
    font-family: "sans";
    padding: 0 12px;
}
h2 , h3{
    text-align: center;
}
p{
    background: hsl(194, 44%, 25%)000;
    color: rgb(120, 255, 120);
    padding: 12px;
    border-radius: 12px;
    font-weight: bold;
    margin-bottom: 23px;
 
}
.nav{
    margin-top: 23px;
}
.buttun{
    text-align: center;
    
}
.send{
    padding: 15px;
    background: #74ff55;
    font-family: "sans";
    font-weight: bold;
    border-radius: 14px;

    margin-bottom: 12px;
}